:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url("/assets/fonts/inter_regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500; /* Medium */
  src: url("/assets/fonts/inter_medium.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600; /* SemiBold */
  src: url("/assets/fonts/inter_semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url("/assets/fonts/inter_bold.woff2") format("woff2");
}
@font-face {
  font-family: "Lexend";
  font-weight: 700; /* Bold */
  font-style: normal;
  src: url("/assets/fonts/Lexend-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Lexend";
  font-weight: 600; /* SemiBold */
  font-style: normal;
  src: url("/assets/fonts/Lexend-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Lexend";
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url("/assets/fonts/Lexend-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Lexend";
  font-weight: 500; /* Medium */
  font-style: normal;
  src: url("/assets/fonts/Lexend-Medium.woff2") format("woff2");
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Lexend, sans-serif !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
